extends layout

block content
    h1= title

    ul
        each req in list_solicitud
            li
                a(href=req.url) #{req.nombre_completo} #{req.fecha_cute}
        else
            li There are no petitions.