extends layout

block content
    p=request.office.name
    p= request.birth_date

    h1 #{title}
    include catalog_form


    if errors
        ul
            for error in errors
                li!=error.msg